
// variables

// spacing

// text
.font_formHeading {
    font-family: var(--fontFamily);
    font-size: var(--fontSizeHeading);
    color: var(--defaultText);
}

.font_defaultText {
    font-family: var(--fontFamily);
    font-size: var(--fontSizeDefault);
    color: var(--defaultText);
}
// buttons

// animations
