// variables

// spacing
.flexbox_fullPageListing {
    display: flex;
    // padding: 10px;
    justify-content: center;
    align-items: center;
}

.flexbox_internal {
    display: flex;
}

.buffer_horizontal {
    margin: 20px;
}

.centre_div {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}
// text

// buttons

// animations