// variables

// spacing
.flexbox_fullPageListing {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.flexbox_internal {
    display: flex;
}

// text

// buttons

// animations